body
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 100vh;
}

button
{
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
    border-radius: 5%;
}

.main-body
{
    display: flex;
    flex: 0 1 35%;
    height: 80%;
    background-color: #453C67;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 1vmin;
}

.background
{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #03001C;
    padding: 1%;
    border-radius: 1vmin;
}

.left-side
{
    display: flex;
    flex: 1 1 75%;
    flex-wrap: wrap;
    height: 100%;
}

.screen
{
    background-color: white;
    flex: 1 1 100%;
    height: calc(20% - 4px);
    border-radius: 0.8vmin;
    border: 2px solid black;
}

.left-side button
{
    flex: 1 1 33%;
    height: 20%;
    background-color: #46C2CB;
}

.right-side
{
    display: flex;
    flex: 1 1 25%;
    flex-wrap: wrap;
    height: 100%;
}

.right-side .AC
{
    background-color: #F2F7A1 ;
}

.right-side button
{
    flex: 1 1 100%;
    background-color: #6D67E4;
    
}


